{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form-area contenu">
            <h3><i>Création d'un sort</i></h3>
            <br>
            <form>

                <div class="form-group contact">
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom du sort">
                </div>
                <div class="form-group contact">
                    <label for="exampleInputEmail1">Cible</label>
                    <input type="text" class="form-control" id="target" name="target" placeholder="Les cibles du sort">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                           placeholder="Description du sort">
                </div>
                <div class="form-group contact">
                    <label for="exampleInputPassword1">Cooldown</label>
                    <input type="text" class="form-control" id="cd" name="cd"
                           placeholder="Son CD au niveau 1">
                </div>
                <div class="form-group contact">
                    <label for="exampleInputPassword1">Image</label>
                    <input type="text" class="form-control" id="imagename" name="imagename"
                           placeholder="Image">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 1</label>
                    <input type="text" class="form-control" id="lvl1" name="lvl1"
                           placeholder="Sort niveau 1">
                </div>
                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 2</label>
                    <input type="text" class="form-control" id="lvl2" name="lvl2"
                           placeholder="Sort niveau 2">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 3</label>
                    <input type="text" class="form-control" id="lvl3" name="lvl3"
                           placeholder="Sort niveau 3">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 4</label>
                    <input type="text" class="form-control" id="lvl4" name="lvl4"
                           placeholder="Sort niveau 4">
                </div>


                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 5</label>
                    <input type="text" class="form-control" id="lvl5" name="lvl5"
                           placeholder="Sort niveau 5">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 6</label>
                    <input type="text" class="form-control" id="lvl6" name="lvl6"
                           placeholder="Sort niveau 6">
                </div>

                <div class="form-group contact">
                    <label for="exampleInputPassword1">Lvl 7</label>
                    <input type="text" class="form-control" id="lvl7" name="lvl7"
                           placeholder="Sort niveau 7">

                    <div class="form-group contact">
                        <label for="exampleInputPassword1">Lvl 8</label>
                        <input type="text" class="form-control" id="lvl8" name="lvl8"
                               placeholder="Sort niveau 8">
                    </div>
                    <div class="form-group contact">
                        <label for="exampleInputPassword1">Lvl 9</label>
                        <input type="text" class="form-control" id="lvl9" name="lvl9"
                               placeholder="Sort niveau 9">
                    </div>
                    <div class="form-group contact">
                        <label for="exampleInputPassword1">Lvl 10</label>
                        <input type="text" class="form-control" id="lvl10" name="lvl10"
                               placeholder="Sort niveau 10">
                    </div>



                    <br><br>
                    <div class="form-btn-group text-center">
                        <button type="submit" class="btn button-color">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}