{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        News
        <div class="container">
            {% for news in news %}
                <div class="row">
                    <div class="news">
                        <td><a href="http://127.0.0.1:8000/news/{{ news.id }}">{{ news.title }}</a></td><br>
                        <td><a href="http://127.0.0.1:8000/news/{{ news.id }}"><img src="{{ news.imagename }}"></a></td><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
