{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <ul>
            <tr>
                <td>{{ nouvelle[0].title }}</td>
            </tr>
            <tr>
                <td>{{ nouvelle[0].text }}</td>
            </tr>
        </ul>
    </table>
{% endblock %}