<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
        <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% endblock %}
</head>
<body>

<div class="test1">
    <div class="row logo">
        <img src="{{ "https://i.imgur.com/nJPCUGS.png" }}"
             alt="Smiley face" height="250" width="100%">
    </div>

    <div class="row">
        <div class="col-lg-2 menu test3">
            <div class="marge">
                <div class="bloc">
                    <div class="espace bloc2"> Event :</div>
                    <div class="espace"><a href="http://127.0.0.1:8000/index">Derniers events</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/allevent">Events</a></div>
                    <br>
                </div>

                <div class="bloc">
                    <div class="espace bloc2"> Guide :</div>
                    <div class="espace"><a href="http://127.0.0.1:8000/personnage">Personnages</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/craftessence">Craft Essences</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/mysticcode">Mystic Code</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/skill">Skills</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/skillmysticcode">Skill mystic code</a></div>
                    <br>
                </div>

                <div class="bloc">
                    <div class="espace bloc2"> Ajout :</div>
                    <div class="espace"><a href="http://127.0.0.1:8000/personnage/ajoutperso">Ajout Personnage</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/personnage/ajoutevent">Ajout event</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/personnage/ajoutskill">Ajout skill</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/createcraftessence">Ajout craft essence</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/ajoutmysticcode">Ajout mystic code</a></div>
                    <div class="espace"><a href="http://127.0.0.1:8000/ajoutskillmysticcode">Ajout skill mystic code</a></div>
                    <br>
                </div>

            </div>
        </div>

        <div class="col-lg-10 menu menu2">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>



{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

{% endblock %}
</body>

<footer>
    <p class="footer1">Fate/Grand Order © TYPE-MOON / FGO PROJECT | WikiTest | All logos and trademarks are property of their respective owners.</p>
</footer>
</html>
